/*------------------------------------------------------------------
Pages v1.1.0
Theme : Default
Generated From LESS
[Table of contents]

1. Layouts
2. View Ports
3. Chat
4. Panels
5. Typography
6. Buttons
7. Alerts
8. Notifications
9. Progress Indicators
10. Modals
11. Tabs & Accordians
12. Sliders
13. Treeview
14. Nestables
15. Form Elements
16. Tables & Datatables
17. Charts
18. Lists
19. Social App
20. Email App
21. Calendar App
22. Login
23. Lockscreen
24. Timeline
25. Gallery
26. Vector Map
27. Widgets
28. Misc
29. Print
30. Demo
-------------------------------------------------------------------*/

// Color functions
@import "color";

// Import Vars
@import "var";

// Mixins tools
@import "mixins";

// Includes of Modules
@import "modules";

// Responsive Util
@import "responsive";

.header {
	
	.brand {
		width: 215px;
	}

}

.subheader {
	margin-bottom: 5px;
}

.subheader-button {
	padding: 10px 0;
}

.clock-hour {
	width: 180px;
	display: inline;
}

.main-body {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.modal-delete-message {
  margin: 14px 0 0;
  text-align: center;
}

//added !important directive since the theme by default renders the element behind some elements like modal
.colorpicker-custom-body {
  z-index: 999999 !important;
 }

//full calendar event custom height
.fc-event.notitle {
	height: 2px;
}

.row.page-nonav {

	padding-top: 15px;
	padding-left: 0;
	padding-right: 0;

}