ul.customUl {
  list-style: none;
  padding: 0;
  min-height: 100px;
  min-width: 100px;
}

li.customUl {
  background: #eee;
  list-style-type: none;
  margin: 1px;
  padding: 5px 10px;
}

li.customUlDelivery {
  background: #eee;
  list-style-type: upper-alpha;
  margin: 1px;
  padding: 5px 10px;
}

ul. .sortable-ghost {
  opacity: .4;
}

.my-handle {
	cursor: move;
	cursor: -webkit-grabbing;
}

.map {
  height: 500px;
  width: 100%;
}

#form-customers{
  height: 200px;
  overflow: scroll;
}

#form-deliveries{
  height: 200px;
  overflow: scroll;
}

#form-customers-edit{
  height: 200px;
  overflow: scroll;
}

#form-deliveries-edit{
  height: 200px;
  overflow: scroll;
}
